---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="container">
        <div>
            <div class="hearth-container">
                <h1>Bio</h1>
                <svg
                    class="hearth"
                    fill="#0986a2"
                    viewBox="0 0 256 256"
                    id="Flat"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <path
                            d="M220.3457,136.50781l-81.03125,81.03125a16.013,16.013,0,0,1-22.625,0L33.58008,134.42969a59.974,59.974,0,0,1,2.34375-87.07031c23.28125-21.01563,61.25-19.05469,84.57812,4.29687l7.5,7.49219,9.57813-9.57813a60.69786,60.69786,0,0,1,43.98437-17.55469A59.54956,59.54956,0,0,1,224.627,51.90625C245.61133,75.20312,243.68945,113.15625,220.3457,136.50781Z"
                        ></path>
                    </g></svg
                >
            </div>
            <p>
                Cyan Lázuli nació en 1991 en la provincia de Buenos Aires.
                Reside actualmente en el partido de la Almirante Brown. Artista
                plástica, poeta, maquilladora artística y docente, se encuentra
                próxima a graduarse de profesora de Artes Visuales en la Escuela
                de arte Leopoldo Marechal donde se especializa en Pintura, pero
                además incursiona en el grabado, el dibujo, la instalación y el
                happening. Actualmente ingresó a la Licenciatura en Artes
                Visuales de la Universidad Nacional de las Artes y además cursó
                estudios en la carrera de Letras de la Universidad de Buenos
                Aires. Actualmente es una artista plástica y poeta emergente.
                Como poeta fue publicada por primera vez en el fanzine poético
                PUPO #02 por Ediciones del Ombligo y su primer poemario "Versos
                descarnados" fue publicado por la editorial Copo de Nieve.
            </p>
        </div>

        <div class="bio-img">
            <img src="../images/bio/bio.jpg" />
            <p>Fotografía por Gustavo Rebechi</p>
        </div>
    </div>
</MainLayout>

<style>
    h1 {
        font-size: 3rem;
        font-family: "Encode", sans-serif;
    }

    .container {
        padding: 0 2rem;
        animation: appear 1s ease;
    }

    .container p {
        text-align: center;
        margin-top: -0.1rem;
    }

    .hearth-container {
        display: flex;
    }

    .hearth {
        width: 3rem;
    }

    .bio-img > img {
        max-width: 100%;
        border: 5px solid var(--main-color);
    }

    .bio-img p {
        margin-top: 1rem;
    }

    @keyframes appear {
        0% {
            opacity: 0;
            transform: translateY(1rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @media screen and (min-width: 700px) {
        .container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        .container p {
            text-align: left;
            margin-right: 1rem;
            max-width: 500px;
        }

        .bio-img > img {
            max-width: 20rem;
            border: 5px solid var(--main-color);
            margin: 1rem;
        }
    }
    @media screen and (min-width: 700px) and (max-width: 1024px) {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        .container p {
            max-width: 500px;
            text-align: center;
            margin-right: 0;
        }

        .hearth-container {
            justify-content: center;
        }

        .bio-img > img {
            max-width: 30rem;
        }
    }
</style>
