---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<div class="container">
		<h1>Statement</h1>
		<p>
			Soy una artista multifacética, ya que dedico mi labor artística
			tanto a las Artes Visuales (Pintura, Dibujo, Grabado, Arte
			expandido; con guiños al happening y la instalación) como a la
			poesía y al maquillaje artístico. Mis obras suelen surgir de las
			cosas que me gustan e interesan (en la mayoría de los casos suelo
			inspirarme en las artes en general; la música, la poesía, el cine,
			el diseño, la fotografía, etc.) como así también, éstas surgen de
			mis fantasías y situaciones cotidianas. Sin embargo, también busco
			interpelar y llamar a la reflexión al espectador de alguna manera,
			porque me resulta interesante la idea del arte no meramente como una
			creación individual del artista, sino también como algo que logra
			indagar en cuestiones más profundas de la vida y el mundo en
			general. Soy una artista emergente, recientemente estoy dando a
			conocer mi obra y abrí una página de instagram dedicada
			exclusivamente a ella. Mi idea es darme a conocer en mi país y en el
			mundo, tengo varios proyectos de obras de grandes dimensiones en
			mente (en este caso instalaciones) que espero llevar a cabo en estos
			próximos años.
		</p>
	</div>
</MainLayout>

<style>
	.container {
		padding: 0 2rem;
		animation: appear 1s ease;
	}

	.container h1 {
		font-size: 3em;
		font-family: "Encode", sans-serif;
	}

	.container p {
		text-align: center;
		text-indent: 10px;
	}

	@keyframes appear {
		0% {
			opacity: 0;
			transform: translateY(1rem);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@media screen and (min-width: 700px) {
		.container h1 {
			text-align: center;
		}

		.container p {
			text-align: left;
			margin: 0 auto;
			max-width: 920px;
		}
	}
</style>
