---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cyan Lazuli</title>
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Navbar />
		<div class="main-container">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style>
	:root {
		--main-color: #d0417e;
		--background-color: rgb(13, 42, 61);
		--secondary-color: #fdfb01;
	}

	@font-face {
		font-family: "DynaPuff";
		src: url("/fonts/DynaPuff-VariableFont_wdth,wght.ttf");
	}

	/* Familia Inter */
	@font-face {
		font-family: "Encode";
		src: url("/fonts/EncodeSans-Regular.ttf") format("truetype");
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: "Encode";
		src: url("/fonts/EncodeSans-Thin.ttf") format("truetype");
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: "Encode";
		src: url("/fonts/EncodeSans-Bold.ttf") format("truetype");
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: "Encode";
		src: url("/fonts/EncodeSans-Medium.ttf") format("truetype");
		font-weight: 500;
		font-style: normal;
	}

	/* Familia Inter */
	@font-face {
		font-family: "Inter";
		src: url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: "Inter";
		src: url("/fonts/Inter_18pt-Light.ttf") format("truetype");
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: "Inter";
		src: url("/fonts/Inter_18pt-Bold.ttf") format("truetype");
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: "Inter";
		src: url("/fonts/Inter_18pt-Italic.ttf") format("truetype");
		font-weight: 400;
		font-style: italic;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html,
	body {
		font-family: "Inter", sans-serif;
		font-weight: 400;
		color: black;
		background: hsl(199, 93%, 60%);
		background-size: 400% 400%;
	}

	body {
		display: flex;
		flex-direction: column;
	}

	.main-container {
		min-height: 100vh;
	}

	@keyframes gradient {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	#app {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	.bold-text {
		font-weight: 700;
	}

	.light-text {
		font-weight: 300;
	}

	.italic-text {
		font-style: italic;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	.navbar-brand {
		/* font-family: "Encode", sans-serif;
		font-weight: 500; */
		font-family: "DynaPuff", system-ui;
		font-weight: 400;
		font-style: normal;
	}

	.main-content {
		max-width: 1920px;
		margin: 1rem auto;
		text-align: center;
	}

	.main-h1 {
		font-size: 2rem;
		margin-left: 1rem;
		margin-right: 1rem;
	}
</style>
